<div class="cnavbar sticky-top" style="z-index: 5;">
	<div class="container d-flex justify-content-between align-items-center py-3">
		<a href="#top" class="nav-home"><span class="red">A</span>grim <span class="red">T</span>uladhar</a>
		<div class="d-none d-lg-block">
			<a href="#aboutme" class="links">About</a>
			<a href="#services" class="links">Services</a>
			<a href="#projects" class="links">Projects</a>
			<a href="#contacts" class="links">Contacts</a>
		</div>
		<div class="d-md-block d-lg-none">
			<a onclick="navpull()"><i class="fa fa-bars fa-2x links" aria-hidden="true"></i></a>
		</div>
	</div>
</div>
